{% extends 'base.html' %}

{% block content %}

<p>Vous avez crée {{ tickets|length }} tickets et {{ reviews|length }} critiques.</p>

{% for post in posts %}
    <div class="post">
    {% if post.title  %}

        {% include 'feed/snippet_ticket.html' %}

        <p class="text-end">            
            <a href="{% url 'ticket_update' post.id %}" class="button">Modifier</a>
            <a href="{% url 'ticket_delete' post.id %}" class="button">Supprimer</a>     
        </p>        


<!-- 

        <a href="{% url 'ticket_detail' post.id %}">Détails</a>
            
        {% if post not in reviews_ticket %}
            <form action="{% url 'review_create' post.id %}" method="POST">
                {% csrf_token %}
                <p class="text-end">
                    <input name="ticket_id" value="{{post.id}}" type="hidden">
                    <input type="submit" value="Créer une critique" class="button">

                    <a href="{% url 'ticket_update' post.id %}" class="button">Modifier</a>
                    <a href="{% url 'ticket_delete' post.id %}" class="button">Supprimer</a>  
                </p>              
            </form> 
        {% else %}
            <p>Critique déjà donné</p>
            <p class="text-end">            
                <a href="{% url 'ticket_update' post.id %}" class="button">Modifier</a>
                <a href="{% url 'ticket_delete' post.id %}" class="button">Supprimer</a>     
            </p>
        {% endif %}
    
-->




    {% else %}


           {% include 'feed/snippet_review.html' %} 

            <!-- <a href="{% url 'review_detail' post.id %}">Détails</a>  -->
            <p class="text-end">  
                <a href="{% url 'review_update'  post.id %}" class="button">Modifier</a>
                <a href="{% url 'review_delete'  post.id %}" class="button">Supprimer</a>
            </p>

    {% endif %}
    </div>
{% endfor %}

{% include 'feed/snippet_pagination.html' %} 



{% endblock content %}