* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;

}

html {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    /* line-height: 1.75; */
    text-align: center;   

}

a, a:hover {
    color: black !important;
}

a {
    text-decoration: none;
    color: inherit;
}


header {
    border-bottom:1px solid black;
}


#subscribe label {
    margin-top:2em;
}

#subscribe ul {
    padding-left: 0 !important;
}

.helptext{
    display:block;
  }

main {
    text-align: left;
    border:1px solid black;
    border-top:0;
    margin:0 15%;
    padding:1em;
}

#create_buttons {
    text-align: center;
    padding:1em;
}

h1 {
    /* display: flex;
    flex-direction: column; */
    /* justify-content: center; */
    text-align: center;    
}

.navbar {
    border-bottom:1px solid black;
}

table  {border:1px solid black;}
table th {vertical-align: middle;}


img {
    /* width: 100%; */
    max-width: 150px;
}

nav a.active  {
    text-decoration: underline;
}


.button {
    /* text-decoration: none; */
    /* float:right; */
    /* clear:both; */    
    font-size: 1em;
    background-color: white;
    padding: 0.5em;
    margin-right:0.5em;
    border-radius: 0.5em;
    cursor:hand;
    border:1px solid black; 

}

input[type="file"] {
    color:transparent;
}

input[type=file]::-webkit-file-upload-button {
    /* visibility: show; */
    font-size: 1em;
    background-color: white;
    padding: 0.5em;
    border-radius: 0.5em;
    border:1px solid black; 
}

#image-clear_id {
    clear:left;
}

label[for=id_image] + a {
    display:block;
    /* background-color: red; */
    padding:0.5em 0;
}

/* label clear image uploaded */
label[for=image-clear_id] {
    display: inline;
    font-size: 1em;
    background-color: white;
    padding: 0.5em;
    border-radius: 0.5em;
    border:1px solid black;
    min-width: 0;
}



div.post {
    border:1px solid black;
    padding:1em;
    margin:1em 0;
}

div.post em {
    float:right;
}

label {margin-top:1em;}



label, select, #id_headline, #id_body, #id_title, #id_description {
    display:block;
    min-width: 100%;
}

/* input[type="text"] */

#search_user {
    padding:0.5em;
    min-width: 80%;
    border-radius: 0.5em;    

}


#id_rating {
    text-align: center;   
}

#id_rating div {
    display:inline-block;
    min-width: auto;
    margin:0 1em;

}


.rating {
    display:inline-block;
    background-repeat: no-repeat;   
    width: 150px; 
    height: 44px;  
    margin-bottom:-0.4em;
}

.rating em {display:none;}

.stars1 {background-image: url('1stars.png');}
.stars2 {background-image: url('2stars.png');}
.stars3 {background-image: url('3stars.png');}
.stars4 {background-image: url('4stars.png');}
.stars5 {background-image: url('5stars.png');}

