{% extends 'base.html' %}

{% block content %}

<h1>Abonnement</h1>

<!-- Subscription form -->
<h2>Suivre un profil</h2>
<form method="POST" action="{% url 'subscription' %}"> 
    {% csrf_token %}
    <input type="text" placeholder="Indiquez le pseudo d'un utilisateur" name="followed_user"> <!-- name="followed_user"  -->
    <input type="hidden" class="hidden" name="action" value="search">
    <button type="submit">S'abonner</button>

    {% if messages %}
    {% for message in messages %}
        <p class="{{ message.tags }}">{{ message }}</p>
    {% endfor %}
    {% endif %}
</form>


<!-- Following -->

{% if user_follows %}
    <h2>{{ user_follows.count }} abonnement{{ user_follows|pluralize }}</h2>
    <ul>
    {% for follow in user_follows %}
        <li>

        <form method="POST" action="{% url 'unfollow' follow.id %}">
            {% csrf_token %}

            <div>
                <span style="width:20em;">
                {{ follow.followed_user.username }}
                {% comment %} {{ follow.followed_user.id }}        
                {{ follow.id  }} {% endcomment %}
                </span>


            <input type="hidden" class="hidden" name="action" value="unfollow" >
            <input type="hidden" class="hidden" name="pk" value="{{ follow.followed_user.id  }}" >
            <button type="submit">Se desabonner</button>
            </div>
        </form>
        



        </li>
    {% endfor %}
    </ul>
{% else %}
    <h4>Vous n'êtes abonné à aucun utilisateur pour le moment.</h4>
{% endif %}


<!-- Followers -->


{% if followed_by %}
    <h4>{{ followed_by.count }} abonné{{ followed_by|pluralize }}</h4>
    <ul>
        {% for follow in followed_by %}
            <li>{{ follow.user.username }}</li>
        {% endfor %}
    </ul>
{% else %}
    <h4 >Aucun utilisateur ne vous suit pour le moment.</h4>
{% endif %}






{% comment %} 
{% if title %}
{{ title }}
{% endif %}

{% if form %}
{{ form }}
{% endif %}

<p>zfzf</p> {% endcomment %}
  
  {% endblock content %}