{% extends 'base.html' %}

{% block content %}

<h2>Abonnements</h2>

<!-- Subscription form -->
<div class="post">
<h3>Suivre un profil</h3>
<form method="POST" action="{% url 'subscription' %}"> 
    {% csrf_token %}
    <input type="text" placeholder="Indiquez le pseudo d'un utilisateur" name="followed_user" id="search_user">
    <input type="hidden" class="hidden" name="action" value="search">
    <button type="submit" class="button">S'abonner</button>

    <!-- {% if messages %}
    {% for message in messages %}
        <p class="{{ message.tags }}">{{ message }}</p>
    {% endfor %}
    {% endif %} -->
</form>
</div>


<!-- Following -->
{% if user_follows %}
<div class="post">
    <h3>{{ user_follows.count }} abonnement{{ user_follows|pluralize }}</h3>
    <table class="table">
        <tbody>           
        {% for follow in user_follows %}
            <tr>
                <th scope="row">{{ follow.followed_user.username }}</th>
                <td>
                    <form method="POST" action="{% url 'unfollow' follow.id %}">
                        {% csrf_token %}                
                        <input type="hidden" class="hidden" name="action" value="unfollow" >
                        <input type="hidden" class="hidden" name="pk" value="{{ follow.followed_user.id  }}" >
                        <button type="submit" class="button">Se desabonner</button>
                    </form>

                </td>
            </tr>
        </tbody>
        {% endfor %}
    </table>

{% else %}
    <h4>Vous n'êtes abonné à aucun utilisateur pour le moment.</h4>
{% endif %}
</div>

<!-- Followers -->
{% if followed_by %}
<div class="post">
    <h3>{{ followed_by.count }} abonné{{ followed_by|pluralize }}</h3>
    <table class="table">
        <tbody>
        {% for follow in followed_by %}
            <tr>
                <th scope="row">{{ follow.user.username }}</th>
            </tr>            
        </tbody>
        {% endfor %}
    </table>
{% else %}
    <h4 >Aucun utilisateur ne vous suit pour le moment.</h4>
{% endif %}
</div>

  {% endblock content %}